{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-8 log-out-main offset-2">
            <h3 class="logo" style="margin-left: 200px;">BookPassion</h3>
            <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab quae velit excepturi quibusdam vitae, et eos magni nobis? Consectetur unde corrupti ducimus ratione cum! Ipsam, doloribus iure accusantium debitis impedit consequatur voluptatum eaque. Magni aperiam excepturi asperiores similique perferendis, ipsa exercitationem assumenda inventore impedit sunt veniam, eius, delectus incidunt unde aspernatur sequi et doloribus iure illo quidem expedita? Commodi id animi facere suscipit quam doloremque temporibus maiores delectus iste impedit incidunt rem sequi cum numquam dicta saepe, nisi laborum consequuntur aliquid quidem fuga doloribus? Pariatur dolorem nesciunt est quae blanditiis placeat nisi neque doloremque, sit tempore quam veniam? Natus, quam?</p>
        </div>
      </div>
    </div>
</main>
{% endblock %}