{% extends 'base.html' %}

{% block content%}
<div class="container-fluid">
  <div class="row pictures">
      <div class="col-8 offset-5 mt-5">
          <h2>
                {{ category.name }}            
          </h2>
      </div>
    {% for s in category.category_of_book.all %}
        <div class="books col-sm-5 col-md-3 col-lg-2 offset-md-1 offset-lg ">
            <div class="img">
                <img src="{{ s.image.url }}" alt="">
                <span style="font-size: 12px;">
                    <a href="#">
                        {% for c in s.category.all %}
                            #{{ c.name }}
                        {% endfor %}
                    </a>
                </span>
            </div>
            <a href="{{ s.get_absolute_url }}"><span  style="font-size: 15px; font-weight: 500; margin-top: 5px; color: black;">
                {{ s.name }}</span></a>
            <span style="font-size: 14px;"> {{ s.price }} рублей </span>
            <div class="actions">
                <a href="{{ book.get_absolute_url }}"><button class="more_info">Подробнее</button></a>
            </div>
        </div>
    {% endfor %}
  </div>
</div>

{% endblock %}