*{
    padding: 0;
    margin: 0;
}

.mains{
    flex-grow: 1;
}

body{
    background-color: rgb(250, 250, 250);
}

a{
    text-decoration: none;
    color: black;
}

nav{
    border-bottom: 1px solid rgb(216, 216, 216);
    background-color: white;
}

.log-in{
    border-right: 1px solid rgb(216, 216, 216);
}

.slide img{
    width: 400px;
    height: 100%;
}

.carousel-item{
    height: 200px;
    width: 100%;
}

.categories-of-books-desktop{
    list-style: none;
    background-color: rgb(250, 250, 250);
}

.top-books{
    font-size: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.slider{
    background-color: rgb(250, 250, 250);;
}

.categories-of-books-desktop ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
    border-right: 0.5px solid gray;
    width: 90%;
}

.categories-of-books-desktop ul span{
    margin-left: 35px;
}

.categories-of-books-desktop ul li{
    transition: 0.5s;
}

.categories-of-books-desktop ul li:hover{
    padding-left: 10px;
    cursor: pointer;
}

.category-mobile{
    display: none;
    /* background-color: rgb(250, 250, 250); */
    cursor: pointer;
    background-color: rgb(250, 250, 250);
}

.category-mobile ul a{
    text-decoration: none;
    color: black;
    outline: none;
}
.dropdown{
    margin: 0;
    padding: 0;
}

.mob-dropdown
{
    width: 100vw;
}

.dropdown-toggle{
    outline: none;
}

.pictures{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(250, 250, 250);
    padding-bottom: 40px;
}

.books{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    height: 300px;
}

.books span{
    margin: 0;
    padding: 0;
}

.img img{
    width: 100%;
    height: 100%;
}

.img{
    width: 100%;
    height: 50%;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 546px), screen and (max-width: 740px){
    .slider {height: 400px;}
    .carousel-item {height: 355px;}
    .slide img {height: 355px; width: 100%;}
    .ten {display: block;}
}

@media screen and (min-width: 742), screen and (max-width: 993px) {
    .w-100 {display: none;}
    .ten {display: none;}
}


@media screen and (max-width: 993px){
    .category-mobile{
        display: flex; 
        align-items: center; 
        justify-content: center;
    }

    .categories-of-books-desktop{
        display: none;
    } 
} 

@media screen and (min-width: 993px){
    .category-mobile{
        display: none;
    }

    .categories-of-books-desktop{
        display: flex;
    }
}

.bro{
    display: flex;
}

footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-top: 1px solid rgb(216, 216, 216);
}

.bro img{
    width: 20px;
    height: 20px;
}

footer a{
    text-decoration: none;
    color: black;
}

footer a:hover{
    color: black;
}

.ten{
    display: flex;
    align-items: center;
    justify-content: center;
}

.actions a button{
    width: 12em;
    height: 2em ;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
}

.more_info{
    width: 12em;
    height: 2em;
    border: none;
    border-radius: 5px;
    background-color: rgb(243, 243, 243);
    margin-top: 10px;
}

.buy{
    background-color: rgb(243, 243, 243);
    margin-right: 5px;
}

.korzina{
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
}

.buy:hover, .korzina:hover, .more_info:hover{
    background: linear-gradient(rgb(255, 255, 255), rgb(206, 206, 206))
}

.logo{
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.logo:hover{
    color: black;
}

.book-itself-main{
    margin-top: 50px;
    background-color: white;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 5px;
    margin-bottom: 25px;
}

.book-itself-img img{
    width: 100%;
    height: 100%;
}

.book-itself-right ul li{
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.book-itself-textarea{
    width: 100%;
    height: 50px;
    outline: none;
    border-radius: 3px;
    border: 1px solid rgb(216, 216, 216);
}

#book-itself-email{
    margin-bottom: 35px;
}

div.col-6{
    margin-top: 50px;
} 

ul{
    list-style: none;
}

.book-itself-comments {
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
}

.book-itself-separate-comment p{
    margin: 0;
}

.book-itself-separate-comments{
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid rgb(216, 216, 216);
    padding: 5px;
}

.book-itself-separate-comments a{
    display: block;
    margin-left: 10px;

}

.book-itself-form-group{
    margin-bottom: 30px;
}

.book-itself-inner-comment{
    margin-left: 30px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 3px;
    padding: 5px;
    /* width: 70%;
    min-height: 50px; */
}

/* basket */

.basket-main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 100px;
    margin-top: 100px;
}

.basket-main p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.basket-product-info{
    margin-top: 50px;
}

.col-9{
    background-color: white;
}

#quantity{
    width: 40px;
    height: 20px;
    font-size: 12px;
    border-radius: 2px;
    border: none;
    text-align: center;
    border: 1px solid rgb(216, 216, 216);
}

#checkbox{
    margin: 0;
    padding: 0;
}

.basket-deal-form{
    border: rgb(216, 216, 216);
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(216, 216, 216);
}

.basket-deal-form div{
    display: flex;
    align-items: center;
    padding: 3px;
    width: 100%;
    text-align: center;
    border-top: 1px solid rgb(216, 216, 216);
}

.basket-deal-form div p{
    margin: 0;
    margin-left: 10px;
}

.basket-overall{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.basket-deal-form input{
    border: none;
    outline: none;
    width: 100%;
    border-top: rgb(216, 216, 216);
}

.basket-first{
    background-color: rgb(230, 230, 230);
    height: 35px;
    font-size: 12px;
    border-top: none;
}

.basket-book-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.basket-decision{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* log-in */

.log-in-main, .log-out-main, .signup-main{
    background-color: white;
    border-radius: 5px;
    margin-top: 100px;
}

.log-in-main{
    margin-bottom: 300px;
}

.log-in-register{
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#password{
    margin-bottom: 20px;
}

/* register */

.register-main{
    background-color: white;
    border-radius: 5px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.register-register{
    text-align: center;
    font-size: 24px;
    cursor: pointer;
}

#password{
    margin-bottom: 20px;
}

.more-info a{
    color: black;
}
/* log-out */

.log-out-main{
    margin-top: 100px;
    margin-bottom: 500px;
}


.about-main{
    margin-top: 100;
    margin-bottom: 400px;
}

.order-form{
    margin-bottom: 150px;
}